/* General CSS */
* {
  box-sizing: border-box;
}
body {
  background-color: lightblue;
  padding: 92px 0;
  display: flex;
  justify-content: center;
}
.content > div {
  width: 414px;
}
h1 {
  font-family: "Righteous", cursive;
  font-weight: 400;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #333333;
}
h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #a6a6a6;
  line-height: 17.58px;
}
ion-icon {
  pointer-events: none;
}
.transparent {
  color: transparent;
}
.button-color {
  background-color: #cbcbcb;
}
.hidden {
  display: none;
}
.content {
  position: relative;
}

/* Top Menu */
.top-menu {
  background-color: #cf2b2b;
  height: 92px;
  padding-left: 21px;
  position: fixed;
  top: 0;
  left: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}
.top-menu h1 {
  font-size: 44px;
  color: #ffffff;
}
.top-menu h2 {
  font-size: 18px;
  color: #ffffff;
}

/* Menu */
.menu {
  background-color: #eeeeee;
  padding: 30px 0 0 19px;
}
.options {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 16px;
}
.options div {
  background-color: #ffffff;
  width: 172px;
  height: 216px;
  border-radius: 9px;
  padding: 18px 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 16px;
  position: relative;
  cursor: pointer;
}
.options ion-icon {
  font-size: 19px;
  position: absolute;
  right: 11px;
  bottom: 14px;
}
.menu img {
  width: 144px;
  height: 87px;
  border-radius: 4px;
}
.menu h1 {
  font-size: 26px;
  margin-bottom: 17px;
  color: #333333;
}
.menu h2 {
  font-size: 16px;
  color: #000000;
}

/* Bottom Menu */
.bottom-menu {
  background-color: #ffffff;
  height: 92px;
  position: fixed;
  bottom: 0;
  left: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.bottom-menu h2 {
  font-size: 20px;
  color: #ffffff;
  line-height: 23.44px;
}
.bottom-menu button {
  width: 364px;
  height: 61px;
  display: inline-block;
  border-radius: 50px;
  text-align: center;
  padding: 8px 80px;
  border: none;
}

/* Confirm Menu */
.confirm-menu {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: center;
  z-index: 2;
}
.confirm-menu > div {
  width: 377px;
  height: 353px;
  background-color: #50d074;
  border-radius: 9px;
  padding: 21px 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.value {
  width: 100%;
  height: 150px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text {
  position: relative;
}
.confirm-menu h2 {
  font-size: 22px;
  color: #ffffff;
}
.confirm-menu h3 {
  font-size: 22px;
  color: #ffffff;
}
.confirm-menu button {
  width: 329px;
  height: 52px;
  background-color: #ffffff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}
.cancel {
  margin-top: 5px;
  cursor: pointer;
}
.confirm-menu button h3 {
  color: #50d074;
}
.right {
  position: absolute;
  right: 0;
}

/* Interactive Classes */
.selected {
  box-shadow: inset 0px 0px 0px 5px #32b72f;
  color: #32b72f;
}
.confirm {
  background-color: #32b72f;
}
.hover {
  cursor: pointer;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
